<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="AllTests">

    <test name="DemoqaTest">
        <classes>

            <class name="DatePickerTest" />
            <class name="FramesAndWindowsTest" />
            <class name="RegistrationTest" />
            <class name="SliderTest" />

        </classes>
    </test>
</suite>